<%- include('./includes/headers.ejs') -%>
    <%- include('./includes/navbar.ejs') -%>
<section>
    <div class=" container  d-flex justify-content-center">

        <div class=" ml-5 col-md-6 p-3 border  rounded">
            <h2 class="text-center mt-5">Add Banners</h2>
            <form action="/admin/addBanner" method="post" enctype="multipart/form-data">
                <label for="">Banner Name</label>
                <input type="text" name="name" class="form-control" required><br>
                
                <label for="inputState">Image</label>
                <input type="file" name="image" class="form-control" multiple required><br>
                <div class="d-flex justify-content-center"><button type="submit" class="btn btn-success mt-4">Add</button></div>
            </form>
            </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-4">
                <table class="table">
                    <thead>
                        <tr>
                            
                            <th scope="col">Banner Name</th>
                            <th scope="col">Image</th>
                            <!-- <th scope="col">select</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <% for(banner of banners){%>
                        <tr>
                            
                            <th><%=banner.name %></th>
                            <th><img style="width:50px;height:50px" src="/product-images/<%=banner.image[0]%>"></th>
                            <td>
                            <%if(banner.access){%>
                                <td> <button onclick="blocked('<%= banner._id %>')" class="btn btn-danger">Blocked</button></td>
                                <%}else{%> 
                                  <td> <button onclick="blocked('<%= banner._id %>')" class="btn btn-success">UnBlocked</button></td>
                                <% } %>
                            
                
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script>
    function blocked(bannerId){
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, hide it!'
}).then((result) => {
    $.ajax({
        url:'/admin/blockBanner/'+bannerId,
        method:'post',
        success:(response)=>{
            if (result.isConfirmed) {
                Swal.fire({
                title:'Hided!',
                text:'Your file has been hided.',
               icon: 'success',
               showConfirmButton:false
                 } )
                 setTimeout(() => {
                    location.reload()
                 }, 1000);
            }
        }
    })
  
})
    }

</script>

<%- include('./includes/footers.ejs') -%>
