
<%- include('./includes/headers.ejs') -%>
<%- include('./includes/navbar.ejs') -%>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- <nav class="navbar navbar-expand-lg    border rounded-3" style="background-color:#B7B1B1 ;">
        <a class="navbar-brand text-dark " href="#">All Coupens</a>
      </nav> -->
      <div class=" p-md-2 text-center mt-2    ">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add coupon</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Coupon</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="/admin/view-coupen" method="post" >
                
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Name</label>
                      <input type="String" class="form-control" name="name" id="recipient-name" required>
                    </div>
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Coupon code</label>
                      <input type="text" class="form-control" name="couponCode" id="recipient-name" required>
                    </div>
         
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Discount %</label>
                      <input type="text" class="form-control" name="discount" id="recipient-name" required>
                    </div>
        
                    <!-- <div class="mb-3">
                      <label for="message-text" class="col-form-label">Coupon Limit</label>
                      <input class="form-control" type="number" name="maxLimit" id="message-text" required>
                    </div> -->
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Min-Purchase</label>
                      <input type="number" multiple name="minPurchase" class="form-control" id="recipient-name" required>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Expiry-Date</label>
                        <input type="date" multiple name="expDate" class="form-control" id="expDate" required>
                      </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="">
          
            <div class="jumbotron shadow  bg-white rounded p-4">
             
              <table id="admin" class="table  table-bordered table-hover p-4 .table-responsive" style="width:100%"  >     
                <thead>
                  <tr>
                    <th>#No</th>
                    <th>Name</th>
                    <th>Coupon Code</th>
                    <th>discount %</th>
                    <th>Coupon Limit</th>
                    <th>Minimum purchase</th>
                    <th>Exp date</th>
                    <!-- <th>status</th> -->
                    <th>Active</th>
                  </tr>
                </thead>
                <tbody>
                   <% coupon.forEach((coup,index)=>{ %>
                 
                  <tr class="text-center">         
                      <td><%= index+1 %> </td>
                    <td><%= coup.name %> </td>
                    <td><%= coup.couponCode %> </td>
                    <td><%= coup.discount %> </td>
                    <td><%= coup.maxLimit %>  </td>
                    <td><%= coup.minPurchase %> </td>
                    <td> <%= coup.expDate.toDateString() %> </td>
                    <!-- <td><span class="badge bg-success"> </span></td> -->
                   <% if(coup.isActive){ %>
                      <td> 
                        <button onclick="couponStatus('<%= coup._id %>')" type="submit" class="btn btn-outline-danger" style="width:110px ;">DeActivate</button> </td> 
                    
                   <% }else{ %>
                        <td>
                            <button onclick="couponStatus('<%= coup._id %>')" type="submit" class="btn btn-outline-success" style="width:110px ;">Activate</button> </td> 
                     
                    <% } %>
                                          
                  </tr>
               <% }) %>
                </tbody>
              </table>
              
            </div>
          </div>
</main>
<script>
    function couponStatus(couponId){
        Swal.fire({
            title: 'Are you sure?',
            text: "block!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#013542',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Change status!'
            }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url:'/admin/coupon-status/'+couponId,
                    method:'post',
                    success:(response)=>{
                        if(response.status){
                            Swal.fire({
                            icon: 'success',
                            title: 'Changed!',
                            text: 'Coupon status changed',
                            showConfirmButton: false,
                            })
                            setTimeout(()=>{
                                location.reload()
                            },1000)
                            
                        }
                    }
                })
                
            }
            })
    }
</script>
<%- include('./includes/footers.ejs') -%>
