<%- include('./includes/headers.ejs') -%>
    <%- include('./includes/navbar.ejs') -%>

    <section>
        <div class="container mt-5">
            <div class="">
                <a href="/admin/addCategory" class="btn btn-success  ml-auto">Add Category</a>
            </div>
    
            <table class="table mt-5">
    
                <thead>
                    <tr>
                    
                        <th scope="col">Categoryname</th>
                    
                        
                        
                    </tr>
                </thead>
                <tbody>
                    <% for(c of categories){ %>
                    <tr>
                        
                        <td><%= c.categoryName %></td>
                        <td><a href="/admin/categoryProduct/<%= c.categoryName%>" class="btn btn-primary">PRODUCTS</a></td>
                        <!-- <td><a href="/admin/editCategory/<%= c.id %>" class="btn btn-primary">EDIT</a></td> -->
                        <td><a href="/admin/deleteCategoryProduct/<%= c._id %>" class="btn btn-danger"
                                onclick="return confirm('Do you want to delete')">DELETE</a></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            
    
        </div>
    </section>     

<%- include('./includes/footers.ejs') -%>