<%- include('./includes/header.ejs') %>
    <%- include('./includes/nav.ejs') %>

    <% if(cartProducts){ %>
        <div class="container mt-5">
            
            <div class="row" id="add-ress-reload">
                <div class="col-md-4 order-md-2 mb-4">
                  
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                        <span class="badge badge-secondary badge-pill">
                            <%= cartNumber %>
                        </span>
                    </h4>
                    <ul class="list-group mb-3 sticky-top">
                   <% if(cartProducts.Products.length>0){ %>
                        <% cartProducts.Products.forEach((p)=>{ %>
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">
                                        <%= p.name %>
                                    </h6>
                                    <small class="text-muted">qty: <%= p.quantity %></small>
                                </div>
                                <span class="text-muted">
                                    <%=p.quantity*p.price %>
                                </span>
                            </li>
                            <% }) %>
                            <% } %>
                            
                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <div class="text-success">
                                        <h6 class="my-0">Discount</h6>
                                        <!-- <small>EXAMPLECODE</small> -->
                                    </div>
                                    <span id="discnt" class="text-success">00</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Total (Rupees)</span>
                                    <strong id="lsttotal">₹ <%= cartProducts.total %></strong>
                                </li>
                            
                    </ul>
                    <!-- <form class="card p-2"> -->
                    <div class="input-group">
                        <input id="ccod" type="text" class="form-control" placeholder="Coupon code">
                        <div class="input-group-append">
                            <button onclick="redeem('<%= cartProducts.total %>')" type="submit"
                                class="btn btn-secondary">Redeem</button>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-8 order-md-1">
                  
                        <div class="row">
                           <% if(users.Address != null){ %>
                                <% users.Address.forEach((adrs,index)=>{ %>
                                    <div class="col-md-12 mb-2" id="">
                                        <div class="jumbotron shadow  bg-white rounded p-4">
                                        <div class="card">
                                          <div class="card-body">
                                            <h5 class="card-title"><i class="fa-solid fa-location-dot"></i></h5>
                                            <address class="card-text">
                                                <%=adrs.firstName%>  <%=adrs.lastName%>  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%=adrs.phone%><br>
                                                <%=adrs.address%><br><%=adrs.district%>, <%=adrs.state%> ,pincode : <%=adrs.pincode%><br>
                                            
                                            </address>
                                            <button class="btn btn-outline-dark" onclick="fillForm(' <%=JSON.stringify(adrs)%>','<%=index%>')">Use the Address</button>
                                            <!-- <button data-bs-toggle="modal" data-placement="top" data-bs-target="#exampleModa"><i class="bi bi-pen"></i></button> -->
                                
                                            <a href="#" onclick="deleteAdddress('<%=index%>')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="bi bi-trash ml-5" style="font-size: 1.2rem; color: rgb(255, 0, 0);"></i></a>
                                
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                <% }) %>
                            <% } %>
                            
                          </div>
                  
                   
                  
                    <div class="jumbotron shadow  bg-white rounded p-4">
                        <h4 class="mb-3">Billing address</h4>
                    <form action="/user/checkout" method="post" class="needs-validation" id="checkoutForm">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">First name</label>
                                <input name="firstname" type="text" class="form-control" id="firstName" placeholder=""
                                    value="" required="">
                                <div class="invalid-feedback"> Valid first name is required. </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Last name</label>
                                <input name="lastname" type="text" class="form-control" id="lastName" placeholder=""
                                    value="" required="">
                                <div class="invalid-feedback"> Valid last name is required. </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="username">Phone Number</label>
                            <div class="input-group">
                                <!-- <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                            </div> -->
                                <input name="number" type="tel" class="form-control" id="mobileNumber"
                                    placeholder="Mobile Number" required="" value="">
                                <div class="invalid-feedback" style="width: 100%;"> Your Mobile Number is required.
                                </div>
                            </div>
                        </div>
                        <!-- <div class="mb-3">
                            <label for="email">Email <span class="text-muted">(Optional)</span></label>
                            <input type="email" class="form-control" id="email" placeholder="you@example.com">
                            <div class="invalid-feedback"> Please enter a valid email address for shipping updates.
                            </div>
                        </div> -->
                        <div class="mb-3">
                            <label for="address">Address</label>
                            <textarea name="address" class="form-control" id="address" cols="30" placeholder="address"
                                rows="10" required=""></textarea>
                            <!-- <input type="text" class="form-control" id="address" placeholder="1234 Main St" required=""> -->
                            <div class="invalid-feedback"> Please enter your shipping address. </div>
                        </div>
                        <!-- <div class="mb-3">
                        <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                    </div> -->
                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="state">State</label>
                                <select name="state" class="custom-select d-block w-100" id="state" required="">
                                    <option value="">Choose...</option>
                                    <option>Kerala</option>
                                    <option>Tamil Nadu</option>
                                    <option>Karnadaka</option>
                                </select>
                                <div class="invalid-feedback"> Please provide a valid state. </div>
                                <!-- <label for="country">Country</label>
                            <select class="custom-select d-block w-100" id="country" required="">
                                <option value="">Choose...</option>
                                <option>United States</option>
                            </select>
                            <div class="invalid-feedback"> Please select a valid country. </div> -->
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="">District </label>
                                <input name="district" type="text" class="form-control" id="district" placeholder=""
                                    required="">
                                <div class="invalid-feedback"> District is required</div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="zip">PIN </label>
                                <input name="pin" type="text" class="form-control" id="pin" placeholder="" required="">
                                <div class="invalid-feedback"> PIN code required. </div>
                            </div>
                          
                              
                                <input name="index" type="text" class="form-control" id="index" placeholder=""  hidden>
                              
                           
                        </div>
                        <hr class="mb-4">
                        <!-- <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="same-address">
                            <label class="custom-control-label" for="same-address">Shipping address is the same as my
                                billing address</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="save-info">
                            <label class="custom-control-label" for="save-info">Save this information for next
                                time</label>
                        </div> -->
                        <!-- <hr class="mb-4"> -->
                        <h4 class="mb-3">Payment</h4>
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="credit" name="paymentType" type="radio" checked value="cod"
                                    class="custom-control-input" required="">
                                <label class="custom-control-label" for="credit">Cash on Delivery</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="paypal" name="paymentType" type="radio" value="Online Payment"
                                    class="custom-control-input" required="">
                                <label class="custom-control-label" for="paypal">Razorpay</label>
                            </div>
                            <input style="display:none ;" id="passlsttotal" type="text" name="total"
                                value="<%= cartProducts.total %>">
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-name">Name on card</label>
                                <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                                <small class="text-muted">Full name as displayed on card</small>
                                <div class="invalid-feedback"> Name on card is required </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-number">Credit card number</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                                <div class="invalid-feedback"> Credit card number is required </div>
                            </div>
                        </div> -->
                        <!-- <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">Expiration</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                                <div class="invalid-feedback"> Expiration date required </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cc-cvv">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                                <div class="invalid-feedback"> Security code required </div>
                            </div>
                        </div> -->
                        <hr class="mb-4">
                        <button class="  btn-lg btn-block specclr text-primary" type="submit">Continue to checkout</button>
                    </form>
                    </div>
            </div>
                </div>
            </div>
            <!-- <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© 2017-2019 Company Name</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer> -->
        </div>
        <!-- <div class="card p-3 py-3 mt-3 card-1 text-center">
            <h4>Delivery Address</h4>
            <div class="p-3 card-2">
                <div class="p-3 card-child">
                    <div class="d-flex flex-row align-items-center">
                        <span class="circle">
                            <i class="fa fa-home"></i>
                        </span>
                        <div class="d-flex flex-column ms-3">
                            <h6 class="fw-bold">Home</h6>
                            <span>2112, cottonwoon lane, <br>Ground Floor, NY ,20021</span>
                        </div>
                    </div>
                </div>
                <a href="">
                    <div class="p-3 card-child mt-4">
                        <div class="d-flex flex-row align-items-center">
                            <span class="circle-2">
                                <i class="fa fa-bank"></i>
                            </span>
                            <div class="d-flex flex-column ms-3">
                                <h6 class="fw-bold">Office</h6>
                                <span>3432, Awesome Tail lane, <br>First Floor, NY, 43434</span>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="p-3 card-child mt-4 py-4">
                    <div class="d-flex flex-row align-items-center">
                        <span class="circle-3">
                            <i class="fa fa-plus"></i>
                        </span>
                        <div class="d-flex flex-column ms-3 mt-1">
                            <h6 class="fw-bold text-primary">Add New Address</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
        <% } %>



        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>
            function fillForm(oneAddress,index){
                let address = JSON.parse(oneAddress)
                document.getElementById('firstName').value=address.firstName
                document.getElementById('lastName').value=address.lastName
                document.getElementById('mobileNumber').value=address.phone
                document.getElementById('address').value=address.address
                document.getElementById('state').value=address.state
                document.getElementById('district').value=address.district
                document.getElementById('pin').value=address.pincode
                document.getElementById('index').value=index
            }
        </script>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict'
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation')
                    // Loop over them and prevent submission
                    Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault()
                                event.stopPropagation()
                            }
                            form.classList.add('was-validated')
                        }, false)
                    })
                }, false)
            }())
        </script>
        <script>
            function redeem(total) {
                let coupCode = document.getElementById('ccod')?.value
                console.log(coupCode);
                $.ajax({
                    url: '/redeem/' + coupCode + '/' + total,
                    method: 'post',
                    success: (response) => {
                        if (response.invalidCoupon) {
                            alert("coupen invalid")
                        } else if (response.expired) {
                            alert("coupen expired")
                        } else if (response.minimunPurchase) {
                            alert("lessthan minimum purchase")
                        }else if (response.alreadyApplied){
                            alert("already apply now")
                        } else {
                            // console.log('lllll');
                            let finalAmount
                            let couponDscnPerc = response.discount
                            let couponDiscountAmount = (total / 100)*couponDscnPerc
                            let x = Math.round(couponDiscountAmount)
                            if (x > response.maxLimit) {
                                
                                finalAmount = total - x
                            }
                            finalAmount = total - x
                            console.log(finalAmount);
                            document.getElementById('lsttotal').innerHTML = finalAmount
                            document.getElementById('passlsttotal').value = finalAmount
                            document.getElementById('discnt').innerHTML = x
                            console.log(x);
                        }
                        // console.log(response, 'lllll');
                        //    Swal.fire({
                        //                 icon: 'success',
                        //                 title: 'okeyyy!..',
                        //                 text: 'Successfully Added To the Wishlist',
                        //                 showConfirmButton: false,
                        //                 })
                        //                 setTimeout(()=>{
                        // location.reload()
                        // },1000)
                    }
                })
            }
        </script>
        <script>
            document.forms["checkoutForm"].addEventListener("submit", async (event) => {
                event.preventDefault();
                const paymentType = $('input[name=paymentType]:checked', '#checkoutForm').val()
                var data = $("form").serialize();
                console.log(paymentType);
                // console.log(data);
                // console.log(str);
                if (paymentType == "cod") {
                    checkout(data)
                } else {
                    const amount = document.getElementById("passlsttotal").value
                    console.log(amount)
                    try {
                        const settings = await axios({
                            "url": "/payment/orderId",
                            "method": "post",
                            "data": {
                                "amount": amount
                            }
                        });
                        orderId = settings.data.orderId;
                        console.log(orderId)
                        await razorpay(orderId,amount,data)
                        console.log("2222222222");
                    } catch (err) {
                        console.error(err)
                    }
                    // razorpay(orderId, amount)
                }
            });
            function checkout(data) {
                $.ajax({
                    url: '/placeOrder',
                    method: 'post',
                    data: data,
                    success: (response) => {
                        console.log(response, 'lllll');
                        Swal.fire({
                            icon: 'success',
                            title: 'okeyyy!..',
                            text: 'Successfully Order Placed',
                            showConfirmButton: false,
                        })
                        setTimeout(() => {
                            // location.reload()
                            window.location = "/order-success"
                        }, 1000)  
                    }
                })
            }
            function razorpay(orderId, amount,data) {
                let options = {
                    "key": "rzp_test_tp9aniMXncCN6a", // - Enter the Key ID generated from the Dashboard
                    "name": "HerStyle",
                    "amount": amount,
                    "order_id": orderId, // For one time payment
                    "retry": false,
                    "theme": {
                        "color": "#273952"
                    },
                    // This handler function will handle the success payment
                    "handler": async function (response) {
                        // alert(response.razorpay_payment_id);
                        try {
                            const verification = await axios({
                                method: "post",
                                url: `/payment/verify/${orderId}`,
                                data: {
                                    response: response,
                                }
                            })
                            if (verification.data.signatureIsValid) {
                                const paymentId = response.razorpay_payment_id
                                //appending order Id and payment id to data to update on database
                                // data.append("orderId", orderId)
                                // data.append("paymentId", paymentId)
                                //calling checkout after payment verification
                                checkout(data)
                            } else {
                                await Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Payment Failed!',
                                    confirmButtonColor: '#013542',
                                    width: "25em",
                                    timer: 2000,
                                })
                                window.location = "/checkout"
                            }
                        } catch (err) {
                            console.log(err)
                            window.location = "/"
                        }
                    },
                };
                const rzp1 = new Razorpay(options);
                rzp1.open();
                rzp1.on('payment.failed', async function (response) {
                    await Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Payment Failed!',
                        confirmButtonColor: '#273952',
                        width: "25em",
                        timer: 2000,
                    })
                    console.log("im going to checkout")
                    window.location = "/checkout"
                });
            }
        </script>
        <script>
            function deleteAdddress(addressIndex) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#013542',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/delete-address/' + addressIndex,
                            method: 'delete',
                            success: (response) => {
                                $('#add-ress-reload').load(location.href + " #add-ress-reload")
                            }
                        })
                    }
                })
            }
        </script>
        <%- include('./includes/footer.ejs') -%>